<%-include('./partials/header.ejs')%>

<%-include('./partials/navbar.ejs')%>

<div class="d-flex align-items-sm-center" style="margin-left: 200px;">
    
    <div class="pe-5 me-5">
        
        <h3 class="fst-italic">Hi,There!</h3>
        <h1 style="text-shadow: 2px 2px rgb(150, 142, 142);"><span> I'M </span><span class="text-primary fst-italic">MOHD BILAL</span></h1>
        
    </div>
    <div class="ps-5 ms-5">
        <img class="border-0" src="images/home-pge-img.jpg" alt="home-pge-image" style="width: 500px; height: 500px;">    
    </div>
</div>
<hr style="margin: 0 120px;" class="text-primary"/>

<div class="d-flex align-items-sm-center mt-5 mb-5" style="margin-left: 60px;">
    
    <div class="pe-5 me-5 ms-5 ps-5">
        <h1 class="text-center ms-5 ps-5 mb-5" style="text-shadow: 2px 2px rgb(150, 142, 142);">LET ME <span class="text-primary fst-italic">INTRODUCE</span> MYSELF</h1>
        <p>I'm a Fullstack MERN Developer with six months of experience
            creating mobile apps for the iOS, Android, and Web platforms.
        </p>
        
        <p>
            My skills include proficiency in <span class="text-primary fst-italic fw-bolder">JavaScript, React, NodeJS, ExpressJS</span>,
            and other relevant technologies. I have experience in integrating various
            third-party libraries, API integration, push notifications and analytics.
        </p>
        <p>
            My field of Interest's are building new Technologies and Products.
        </p>
    
        
    </div>
    <div class="pe-5" style="margin-right: 150px;">
        <img class="" src="images/avatar.svg" alt="home-pge-image" style="width: 200px; height: 200px;">    
    </div>
</div>

<hr>
<%-include('./about.ejs')%>
<hr>
<%-include('./project.ejs')%>
<hr>
<%-include('./resume.ejs')%>

<%-include('./partials/footer.ejs')%>
    


